* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #83A4D4 0%, #B6FBFF 100%);
  font-family: 'Libre Franklin', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  height: 10%;
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  justify-content: space-around;
  padding: 0 0;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  margin-top: 0;
  margin-right: 10px; 
}

.nav__list {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}

.nav__item {
  margin: 0 8px
}

.nav__link {
  padding: 10px;
  color: #A3DBEF;
  
  font-size: 20px;
  border-radius: 5px;
  position: relative;
}

.nav__link::after {
  content: '';
  background: #274472;
  position: absolute;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: 0;
  transition:  0.4s ease;
  
}

.nav__link:hover::after{
  display: block;
  width: 100%;
}

.header__toggle, .header__close{
  display: none;
}

@media screen and (max-width:768px) {
    header {
      height: 48px;
      justify-content: space-between;
      padding: 0 28px;
    }
    .logo a {
      font-size: 0.9rem;
    }
    .logo img {
      width: 90px;
    }
    .header__toggle {
      display: inline;
      color: #A3DBEF;
      font-size: 24px;
    }
    .header__close {
      position: absolute;
      right: 24px;
      top: 16px;
      display: block;
      font-size: 24px;
      border-radius: 50%;
      color: #A3DBEF;
    }
    .header__close:hover {
      background-color: #274472;
    }
    .nav {
      position: fixed;
      top: 0;
      right: -100%;
      background-color: #274472;
      color: #eeee;
      width: 60%;
      height: 100vh;
      padding: 24px 0;
      z-index: 100;
      transition: 0.5s;
      border-radius: 0 0 0 50%;
    }

    .nav__list {
      display: flex;
      flex-direction: column;
    }
    
    .nav__item {
      margin: 2rem 0;
    }
    .show {
      right: 0;
    
    }
  
}






.contenedor {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  
}

.wave {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: auto;
}

.contenedor-texto{
  flex-basis: 50%;
  padding-left: 40px;
  overflow: hidden;
  color: #274472;
}

.titulo {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1;
}

.subtitulo {
  font-size: 30px;
  margin: 20px 0;
}

.cta {
  display: inline-block;
  width: 150px;
  padding: 15px 0;
  text-align: center;
  background: #274472;
  border-radius: 5px;
  text-decoration: none;
  color: #A3DBEF;
  text-transform: uppercase;
  font-size: 17px;
}

.contenedorImagen {
  flex-basis: 50%;
  position: relative;
  z-index: 1;
  text-align: center;
  overflow: hidden;
}

.ilustracion1 {
  width: 95%;
  animation: animateIlus ease-in 1s infinite alternate;
}


.contenedor2 {
position: relative;
height: 100%;
display: flex;
align-items: center;
background: rgb(182,251,255);
background: linear-gradient(90deg, rgba(182,251,255,1) 0%, rgba(131,164,212,1) 100%);
}


.onda {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
}

.contenedor-texto2 {
  flex-basis: 50%;
  margin-left: 50%;
  overflow: hidden;
  color: #274472;
  text-align: center;
}

.titulo2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1;
  text-transform: uppercase;
}

.subtitulo2 {
  font-size: 20px;
  margin: 20px 0;
}

.parrafo2 {
    font-size: 17px;
    margin: 20px 0;
}

.iconify {
  height: 50px;
  width: 45px;
}


.contenedor-imagen2 {
  position: absolute;
width: 520px;
height: 372px;
left: 0px;
top: 114px;
z-index: 1;
}

.ilustracion2 {
  width: 95%;
  animation: animateIlus ease-in 1s infinite alternate;
}




@keyframes animateIlus {
  0%{
    transform: scale(1);
  }100% {
    transform: scale(1.04);
  }
}

@media screen and (max-width: 950px) {
  .contenedor {
    flex-direction: column-reverse;
    height: 100%;
  }
  .wave {
    height: 48%;
    width: auto;
  }
  .contenedor-texto {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-top: 50px;
    align-items: center;
    text-align: center;
    flex-basis: 50%;
  }

  .titulo {
    font-size: 40px;
  }
  .subtitulo{
    font-size: 30px;
  }

  .contenedorImagen {
    flex-basis: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ilustracion1 {
    height: 60%;
  }

  .contenedor2 {
    height: 100%;
    margin-top: 15px;
    flex-direction: column-reverse;
  }
  .onda {
    display: none;
  }
  .contenedor-texto2 {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    /* padding-top: 50px; */
    margin-left: 0;
  }

  .titulo2 {
    font-size: 40px;
  }
  .subtitulo2{
    font-size: 30px;
  }

  .parrafo2{
    font-size: 25px;
  }

  .contenedor-imagen2 {
    /* flex-basis: 50%; */
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
  }

  .ilustracion2 {
    height: 100%;
  }
}

@media screen and (max-width:600px) {
  .wave {
    width: auto;
    height: 40%;
  }
  .contenedor-texto{
    flex-basis: 60%;
    justify-content: flex-start; 
  }

  .titulo {
    font-size: 35px;
    letter-spacing: -1;
  }
  .subtitulo{
    font-size: 25px;
  }
  
  .onda {
    transform: rotateZ(90deg);
    width: auto;
    height: 40%;
  }
  .contenedor-texto2{
    flex-basis: 60%;
    justify-content: flex-start; 
  }

  .titulo2 {
    font-size: 25px;
    letter-spacing: -1;
  }
  .subtitulo2{
    font-size: 20px;
  }

  .parrafo2{
    font-size: 18px;
    margin: 20px 0;
  }

}
